/* For screens smaller than 768px */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    .nav-search {
        flex-direction: column;
    }
    .content {
        flex-direction: column;
        width: 100%;
    }
    .box {
        width: 100%;
    }
}
/* body{
    overflow-x:hidden;
}
@media(max-width: 480px){
.panel-deals{
    display:none;   
}
.content{
    width:50%;
}
.nav-search input{
    width:60%;
}
.nav-search{
    width:120px;
}
} */

*{
    margin: 0;
    outline: 1px white;
    font-family: Arial;
    border:border-box;
    /* background-color: #e2e7e6; */

}
.navbar{
    /* padding-top: 20px; */
    height:60px;
    background-color:#0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}
 .nav-logo  {
    height: 55px;
    width:113px;
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 58px;
    width: 114px ;
    padding:1px 2px 0 5px; 
    margin-right:5px;

} 
/* .logo{
   ;
}  */
.border{
    /* border: 2px solid black; */
}
.border:hover{
    border: 1px solid white;
}
.search-icon:hover{
    background-color:#f7ab49 ;
}
.nav-address{
    height: 50px;
    width: 90px;
    /* margin-right: auto; */
}

.add-icon{
    display: flex;
    align-items: center;
    padding-left: 3px;
}
.add-first{

    padding-top: 8px;
    color: #CCCCCC;
    font-size: 0.75rem;
    margin-left: 15px;
    align-items: center;
    
}
.add-second{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3px;
}
.nav-search{
    height: 38px;
    width: 1012px;
    display: flex;
    padding: 10px 4px 10px 3px;
    /* background-color: aquamarine; */
    /* border-radius: 4px; */
    /* align-items: center; */
}
.nav-search select{
    background-color: #f3f3f3;
    /* height: 35px; */
    width: 59px;
    text-align: center;
    border-top-left-radius:4px ;
    border-bottom-left-radius:4px ;
    border: none;
}
.nav-search i{
    background-color:#febd69;
    color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    width: 50px;
    
} 
.nav-search input{
    width: 100%;
    border: none;
    font-size: 15px;

}
.nav-language{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-flag {
    background-image: url('us_flag.jpg');
    background-size: cover;
    height: 16px;
    width: 25.2px;
    margin-right: 1px;
}
.lang{
    font-size: 0.90rem;
    font-weight: 700;
    font-family:  Helvetica, sans-serif;
}
.nav-signin{
    padding-top: 9px;
    height: 45px;
    width: 112px;
    
} 
span{
    font-size: 0.7rem;
}
.nav-signin p {
    margin: 0;
    padding: 0;
}


.signin-second{
    /* margin-left: 3px; */
    font-size: 0.85rem;
    font-family:  Helvetica, sans-serif;
    font-weight: 400;
    
}
.cart{
    height: 50px;
    width: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Panel begins */
.panel{
    height: 40px;
    background-color:#222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-start;
}
.panel-all{
    display: flex;
    align-items: center;
    margin-left: 19px;
    
} 
.panel-all p{
    font-weight: 700;
    margin-left: 3px;
}
.panel-ops{
    display: flex;
    width:75%;
    margin-left: 20px;
    font-weight: 520;
    font-size: 0.85rem;
}
.panel-ops p{
    display: inline;
    margin-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}
.panel-deals {
    display: flex;
    font-size: 0.9rem;
    font-weight: 700;
    justify-content: flex-end;
    width: 100%; /* Ensure it takes up the full width */
    padding-right: 0; /* Remove any padding on the right */
    margin-right: 20px; /* Remove any margin on the right */
}
/* hero section begins */
.hero-section{
    height: 300px;
    z-index: 0;
    background-image:url('hero2.jpg') ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 90px;
    margin-right: 90px;
    /* background-color: #e2e7e6; */

}
.hero-msg{
    background-color:#f5f6f6;
    color: #0f1111;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
    
}
.hero-msg a{
    text-decoration: none;
    color: #007185;

}
/* Content section begins */
.content{
    /* z-index: 1; */
    margin-left: 90px;
    margin-right: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    height: 950px;
    /* margin-bottom: 20px; */
}

.box {
    border: 2px solid white;
    height: 400px;
    width: 23%;
    background: #fff;
    padding: 20px 0px 15px;
    margin-top: 15px; 
    
} 
.box-content{
    margin-left:1rem ;
    margin-right:1rem;
}
.box h2{
    margin:0px 0px 10px ;
    padding: 0px 10px 0px 10px;
}

.box-img {
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    width: 100%;
    height: 300px;
    margin-top:1rem ;
    margin-bottom:1rem;
    /* padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box; 
    overflow: hidden;  */
}
.box p{
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #007185;
    font-size: 0.85rem;
    font-weight: 450;
}
.back-to-top{
    height: 42px;
    background-color: #303841;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    text-decoration: none;
} 
/* footer begins */
.footer-content{
    height: 400px;
    background-color: #232F3E;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    /* align-items: center; */

}
.foot{
    height: 291px;
}
.foot h4{
    margin-bottom: 5px;
}
.foot p{
    margin-bottom: 9px;
    font-size: 0.80rem;
    
}
.foot p:hover{
    margin-bottom: 9px;
    font-size: 0.80rem;
    text-decoration: underline;
    
}
.foot-panel{
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: center;
    border: 0.5px solid rgb(17, 17, 35);
    height: 55px;
  
    /* background-image: url("C:/Users/vs731/OneDrive/Desktop/AmazonClone/images/amazon_logo.png");
    background-size: cover;*/
} 
.logo-panel {
    width: 100px;
    height: 55px; 
    background-image: url("amazon_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}
